/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--white-color);
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}
svg {
  color: var(--white-color);
}
img {
  max-width: 100%;
}
button {
  border: none;
  outline: none;
}
p {
  color: var(--p-color);
  line-height: 1.8;
}
span {
  color: var(--main-color);
}
/* Utility classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title-section {
  margin-bottom: 50px;
  font-size: 35px;
  text-align: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.main-btn {
  background-color: var(--main-color);
  color: var(--bg-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-btn:hover {
  scale: 1.1;
}
.main-btn a {
  color: var(--black-color);
  font-weight: 500;
}
.sec-btn {
  background-color: transparent;
  color: var(--white-color);
  text-decoration: underline;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.sec-btn:hover a {
  color: var(--main-color);
}
/* End Global Rules */
/* Start Variables */
:root {
  --main-color: #fe90cb;
  --secondary-color: #f5b6eb;
  --p-color: #8a8a8a;
  --bg-color: #1f1f1f;
  --white-color: #ffffff;
  --black-color: #000000;
  --border-color: rgba(255, 255, 255, 0.1);
  --section-padding: 100px;
  --main-transition: 0.3s;
}
/* End Variables */
/* Start header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.nav-bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.logo {
  padding: 25px 0;
  color: var(--main-color);
  text-decoration: underline;
}
.right-side {
  flex: 0.75;
  display: flex;
  justify-content: space-between;
}
.sections,
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sections > li > a {
  padding: 25px 0;
  position: relative;
}
.sections > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  opacity: 0;
}
.sections > li > a:hover {
  color: var(--main-color);
}
.sections > li > a:hover::before {
  opacity: 1;
  left: 0;
}
.icons li a > svg {
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.icons li a > svg:hover {
  scale: 1.4;
}
.hamburger-list-button {
  display: none;
  background-color: transparent;
  border: none;
}
.hamburger-list-icon {
  font-size: 20px;
}
/* Styles used in JS */
.bg-black {
  background-color: var(--black-color);
}
/* End Nav-bar */
/* Start hero Section */
.hero {
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .main-title {
  color: var(--main-color);
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .text-content {
  width: 50%;
}
.hero .text-content h4 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: normal;
  color: var(--p-color);
}
.hero .text-content h1 {
  font-size: 35px;
}
.hero .text-content h2 {
  font-size: 35px;
  font-weight: normal;
  line-height: 0.9;
}
.hero .text-content p {
  margin: 20px 0;
  font-size: 14px;
}
.hero .image-container {
  width: 40%;
}
.hero .image-container img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End hero Section */
/* Start About Swction */
.about {
  padding: var(--section-padding) 0;
}
.about .container {
  padding: 30px;
  background-color: var(--black-color);
}
.about .text-content h5 {
  color: var(--p-color);
  font-size: 15px;
}
.about .text-content h2 {
  font-size: 40px;
  margin: 20px 0 5px;
  color: var(--main-color);
}
.about .text-content h4 {
  font-size: 25px;
  margin-bottom: 20px;
}
.about .skills {
  margin: 30px 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.about .skills li {
  width: 45%;
  font-weight: bold;
  margin: 10px 0;
}
.about .skills li::before {
  font-family: "font awesome 5 free";
  content: "\f00c";
  margin-right: 10px;
  font-size: 25px;
  color: var(--main-color);
}
/* End About Swction */
/* Start Services Section */
.services {
  padding: var(--section-padding) 0;
  text-align: center;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.box {
  padding: 30px 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.box:hover {
  border-color: var(--main-color);
}
.box svg {
  margin-bottom: 15px;
  font-size: 45px;
  color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.box:hover svg {
  scale: 1.3;
}
.box h3 {
  font-size: 20px;
  margin: 10px 0;
}
.box p {
  margin-bottom: 15px;
}
/* End Services Section */
/* Start Projects Section */
.projects {
  padding: var(--section-padding) 0;
}
.project-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.project-box.reverse {
  flex-direction: row-reverse;
}
.project-image {
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.project-image:hover {
  box-shadow: 0 4px 8px 0 var(--main-color), 0 6px 20px 0 var(--main-color);
}
.project-box .text-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.project-box .text-content h4 {
  font-size: 15px;
  font-weight: normal;
}
.project-box .text-content h3 {
  font-size: 25px;
  margin-bottom: 12px;
}
.project-box .text-content p {
  font-size: 14px;
  margin-bottom: 12px;
}
/* End Projects Section */
/* Start Contact Section */
.contact {
  padding: var(--section-padding) 0 30px;
}
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info {
  width: 40%;
}
.contact-info h3 {
  font-size: 25px;
  margin-bottom: 25px;
}
.contact-info li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  position: relative;
  left: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact-info li:hover {
  left: 15px;
}
.contact-info svg {
  font-size: 30px;
  color: var(--main-color);
}
.form {
  width: 60%;
  text-align: center;
}
.form .form-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form .form-inputs input,
.form .form-inputs textarea {
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.form .form-inputs input:focus,
.form .form-inputs textarea:focus {
  border-color: var(--main-color);
  caret-color: var(--main-color);
}
.form .form-inputs input {
  width: 48%;
}
.form .form-inputs textarea {
  width: 100%;
  height: 150px;
  resize: none;
}
/* End Contact Section */
/* Footer */
footer {
  background-color: var(--black-color);
  text-align: center;
  padding: 10px;
}
